@use "sass:color";
@use "sass:math";
@use "material";

html {
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto !important;
}
*, *:before, *:after {
  box-sizing: inherit;
}

[v-cloak], .is-hidden {
  display: none;
}

#root {
  position: relative;
  min-height: 100%;

  &.is-fullscreen {
    height: 100vh;
    height: 100dvh;
  }
}

.v-application__wrap {
  background-color: rgb(var(--v-theme-background));
  color: rgb(var(--v-theme-on-background));
  transition: background-color 180ms ease, color 180ms ease;
  transform-origin: 50% 50%;
}

@media (prefers-reduced-motion: reduce) {
  .v-application__wrap {
    transition: none;
  }
}


#root .v-application {
  .text-label-small {
    line-height: 1rem;
    font-size: .625rem!important;
    font-weight: 400;
    letter-spacing: .1666666667em!important;
  }

  @for $i from 0 through 25 {
    .radius-#{$i} {
      border-radius: #{$i}px;
    }
  }

}
