@use "../variables";

/**
* Placeholder attribute for inputs
*
* @return     {string}  Placeholder attributes
*/
@mixin placeholder {
  &::placeholder {@content;}
}

/**
* Spinner element
*
* @param      {string}  $color             - Color
* @param      {string}  $dur               - Animation Duration
* @param      {int}     $width             - Width
* @param      {int}     $height  [$width]  - height
*
* @return     {string}  Spinner element
*/
@mixin spinner($color,$dur,$width,$height:$width) {
  width: $width;
  height: $height;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 2px 1px 0 $color;
  animation: spin $dur linear infinite;
  @include keyframes(spin) {
    100%{
      transform: rotate(360deg);
    }
  }
}

/**
* Keyframes
*
* @param      {string}  $animation-name          - The animation name
*/
@mixin keyframes($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
}


/**
* Layout Mixins
*/
@mixin from($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin until($device) {
  @media screen and (max-width: $device - 1px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: variables.$tablet - 1px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: variables.$tablet) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: variables.$tablet) and (max-width: variables.$desktop - 1px) {
    @content;
  }
}

@mixin touch {
  @media screen and (max-width: variables.$desktop - 1px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: variables.$desktop) {
    @content;
  }
}

@mixin desktop-only {
  @media screen and (min-width: variables.$desktop) and (max-width: variables.$widescreen - 1px) {
    @content;
  }
}

@mixin widescreen {
  @media screen and (min-width: variables.$widescreen) {
    @content;
  }
}

// Nucleo Icons

@mixin nc-rotate($degrees, $rotation) {
  transform: rotate($degrees);
}

@mixin nc-flip($horiz, $vert, $rotation) {
  transform: scale($horiz, $vert);
}
