@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../fonts/arabic/Tajawal-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/arabic/Tajawal-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../fonts/arabic/Tajawal-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'BalooBhaijaan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/arabic/BalooBhaijaan-Regular.woff2') format('woff2');
}

html:lang(ar) {
  --wiki-font-body: 'Tajawal', sans-serif;
  --wiki-font-heading: 'Tajawal', sans-serif;

  .v-application.v-locale--is-rtl :is(h1, h2, h3, h4, h5, h6) {
    font-family: 'BalooBhaijaan', 'Tajawal', sans-serif;
    font-weight: 400;
  }
}
