@use "sass:color";
@use "../base/material";

.wiki-form {

  &.v-theme--light {
    background-color: material.mc('grey', '50');
  }

  .v-text-field .v-field--variant-outlined {
    background-color: #FFF !important;
    border-radius: 7px;

    .v-field__outline {
      color: material.mc('grey', '300') !important;
    }

    &.v-field--focused .v-field__outline {
      color: material.mc('blue', '500') !important;
    }

    @at-root .v-theme--dark & {
      background-color: color.adjust(material.mc('grey', '900'), $lightness: 5%) !important;

      .v-field__outline {
        color: material.mc('grey', '700') !important;
      }
    }
  }

  @at-root .v-theme--dark & {
    .v-icon.text-primary {
      color: material.mc('blue', '500') !important;
    }
  }
}
